@page "/create-game"
@attribute [StreamRendering]

@inject IQuizRepository QuizRepository
@inject NavigationManager NavigationManager
<HeadContent>
    <link rel="stylesheet" href="app_client.css" />
</HeadContent>
@if(quizzes != null)
{
    <div class="flex gap-4">
    @foreach (var quiz in quizzes)
    {
        <QuizInfoCard QuizInfo="quiz"/>
    }
    </div>
}

@code{
    List<QuizDto> quizzes;

    protected override async Task OnInitializedAsync()
    {
        quizzes = await QuizRepository.GetAvailableQuizzesDto();
    }
}
