@page "/create-game"
@attribute [StreamRendering]
@inject IRoomService RoomService
@inject NavigationManager NavigationManager
<h1>test</h1>
@if (room == null)
{
    <EditForm Model= "userConnection" OnSubmit="CreateRoom" FormName="createGame">
        <label>Username</label>
        <InputText @bind-Value="userConnection.Username">@userConnection.Username</InputText>
        <button type="submit" class = "btn btn-primary">Submit</button>
    </EditForm>
}
else
{
    <p>Room created: @room.Room_code</p>
    <p>Date of creation @room.Created_at</p>
}

@code{
    [SupplyParameterFromForm]
    UserConnection userConnection {get;set;} = new UserConnection {Username = string.Empty}; 
    Room room = null;
    
    async Task CreateRoom()
    {
        room = await RoomService.CreateRoom(userConnection);
        NavigationManager.NavigateTo("/roomer");
    }
}