@inject NavigationManager NavigationManager
<button class="button-27" @onclick="HandleHomeRoute">Home</button>
<button class="button-27" @onclick="HandleCreateGameRoute">Create game</button>
<button class="button-27" @onclick="HandleJoinGameRoute">Join game</button>
<AuthorizeView>
    <Authorized>
        <button class="button-27" @onclick="HandleUserPageRoute">User Page</button>
        <button class="button-27" @onclick="HandleLogoutRoute">Logout</button>
    </Authorized>
    <NotAuthorized>
        <div class="nav-item px-3">
            <button class="button-27" @onclick="HandleRegisterRoute">Register</button>
        </div>
        <div class="nav-item px-3">
            <button class="button-27" @onclick="HandleLoginRoute">Login</button>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code{
    void HandleHomeRoute() => NavigationManager.NavigateTo("/");
    void HandleCreateGameRoute() => NavigationManager.NavigateTo("/create-game");
    void HandleJoinGameRoute() => NavigationManager.NavigateTo("/join-game");
    void HandleRegisterRoute() => NavigationManager.NavigateTo("/register");
    void HandleLoginRoute() => NavigationManager.NavigateTo("/login");
    void HandleLogoutRoute() => NavigationManager.NavigateTo("/logout");
    void HandleUserPageRoute() => NavigationManager.NavigateTo("/user-page");
}