<HeadContent>
    <link rel="stylesheet" href="app_client.css" />
</HeadContent>
<h2 class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">@Question.Description</h2>
<div class="grid grid-cols-2 gap-4">
    @foreach (var answer in Question.QuestionChoices)
    {
        <button @onclick="(() => CheckAnswer(answer))" class="text-black">@answer.ChoiceDescription</button>
    }
</div>
@code {
    [Parameter]
    public QuestionDto Question { get; set; }
    [Parameter]
    public EventCallback<QuestionChoiceDto> OnAnswerCheck { get; set; }
    public async void CheckAnswer(QuestionChoiceDto answer)
    {
        await OnAnswerCheck.InvokeAsync(answer);
    }
}
