<div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
        <img class="w-10 h-10 rounded-full" src="@(BLOB_URL + AvatarFilename)" alt="Rounded avatar">
</div>

@code {


    [Parameter]
    public string AvatarFilename { get; set; }
    private const string BLOB_URL = "http://127.0.0.1:10000/devstoreaccount1/profileavatars/";



}
